{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact Us{% endblock %}

{% block h1 %}<br><h1>Contact Us For More Information</h1>
<br>
<hr>
{% endblock h1 %}

{% block content %}
	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>

		    <form action='' method="POST">
		        {% csrf_token %}
		        {{ form|crispy }}
		        <input class='btn btn-default' type='submit' value='Submit' />
		    </form>
	<br>
	<hr>		
	<p>Forgot Your Password? <a href="{% url 'password_reset' %}">Reset Password</a></p>

    	</div>
    </div>
{% endblock %}