{% extends 'base.html' %}

{% block title %}{{ object.author }} | Lists{% endblock title %}

{% block headline %}
<h1>{{ object.author }}</h1>
<h2>Your Lists</h2>
{% endblock headline %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
       		<p><h3><u>{{ object.title }}</u>:</h3></p>
			<p><i>Article Published: {{ object.timestamp }}</i>...
       			<p class="lead">{{ object.text|linebreaks }}</p>
    </div>
</div>


<!-- -------Comments-------- --->
</br>
</br>
</br>
<div class="row">
	<div class="col-sm-6">
		<h4>All Comments. . </h4></br>
		<a href="{% url 'comment' object.pk %}">Add Comment</a>
			{% for c in object.comments.all %}
				<div class="comment">
					<div class="time">{{ c.timestamp }}</div>
					<div class="body"><strong>{{ c.title }}</strong>: {{ c.text|linebreaks }}</div>
				</div>				
			{% endfor %}
	</div>
</div>

<!-- ------End Comments------- -->
				
		

{% endblock %}