{% extends 'base.html' %}

{% block title %}{{ object.author }} | Lists | {{ block.super }}{% endblock title %}

{% block headline %}
<h1>{{ object.author }}</h1>
<h2>Your Lists</h2>
{% endblock headline %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
       		<p><h3>{{ object.title }}</h3></p>
       			<p>{{ object.text }}</p>
    </div>

    <div class="col-sm-6">
    	<p><h3><a href="{% url 'talk_edit' object.pk %}"><span class="label label-warning">Edit</span></a></h3></p>
    	<p><h3><a href="{% url 'talk_list' %}"><span class="label label-success">Lists</span></a></h3></p>    	
    	<p><h3><a href="{% url 'talk_delete' object.pk %}"><span class="label label-danger">Delete</span></a></h3></p>
    </div>
</div>
{% endblock %}