{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ headline }} | Lists | {{ block.super }}{% endblock title %}

{% block headline %}
<h1>{{ headline }}</h1>
<h2>Your Lists</h2>
{% endblock headline %}

{% block content %}

	{% if object %}
		<h3>Edit {{ object.title }}</h3>
	{% else %}

		<h3>Create</h3>
	{% endif %}
	
	<form action='' method="POST">{% csrf_token %}
		<p>Are you sure you want to delete {{ object.title }}
		<!--	{{ form|crispy }} -->
		<input class='btn btn-default' type='submit' value='Yes' />
		<a href="{% url 'talk_list' %}">No</a>
	</form>

{% endblock content %}